ENV=dev

APP_NAME=generate_go
APP_PORT=8080

HTTP_READ_TIMEOUT=5
HTTP_WRITE_TIMEOUT=10
HTTP_IDLE_TIMEOUT=60
HTTP_REQUEST_TIMEOUT=2

LOG_LEVEL=info
LOG_DIR=logs
LOG_MOD=2  # 日志输出 0-两者都 1-文件 2-控制台

AUTH_ENABLED=true
JWT_SECRET_KEY=dev-only-secret-key-change-me-32-bytes
JWT_TOKEN_EXPIRY=2h
JWT_ISSUER=generate_go

# MultipleDatabase 支持多库、多驱动连接，逗号分隔
DB_CONNECTIONS=primary #primary,readonly
# primary
DB_PRIMARY_DRIVER=postgres
DB_PRIMARY_DSN="host=localhost user=postgres password=postgres dbname=postgres port=5432 sslmode=disable"
DB_PRIMARY_AUTO_MIGRATE=true
DB_PRIMARY_MAX_OPEN_CONNS=25
DB_PRIMARY_MAX_IDLE_CONNS=10
DB_PRIMARY_CONN_MAX_LIFETIME=30m

# readonly



# RedisConfig
# false true
REDIS_ENABLED=true
REDIS_ADDR=localhost:6379
REDIS_USERNAME=
REDIS_PASSWORD=123456
REDIS_DB=0
REDIS_DIAL_TIMEOUT=
REDIS_READ_TIMEOUT=
REDIS_WRITE_TIMEOUT=
